# .env

# Flask app settings
FLASK_APP=run.py
FLASK_ENV=development
FLASK_RUN_HOST=0.0.0.0
FLASK_RUN_PORT=5002
SECRET_KEY=super-secret-key

# FastF1 + App config
F1_CACHE_DIR=/app/cache
F1_SCHEDULE_FILE=/app/data/sched.csv
F1_FLAGS_FILE=/app/data/country_flags.json
F1_LOG_FILE=/app/logs/f1_api.log
